body {
    background: var(--gradient-rainbow);
    color: var(--text-primary);
}

.app {
      display: flex;
    flex-direction: column;
}

.main {
    flex: 1; /* Занимает все доступное пространство */
    display: flex;
    flex-direction: column;
}

.app-create {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 20px;
}
.job-form {
    width: 100%;
    max-width: 800px;
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}
.job-details {
    align-self: center;
    width: 100%;
    max-width: 800px;
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}
