.job-table-row {
    padding :12px;
    background: var(--primary-light);
    border: 1px solid #dddddd;
    color: var(--text-primary);
    border-radius: var(--radius-sm);

}

.job-table-row td{
    padding: 5px 10px;
    border: 1px solid var(--border-light);
    text-align: left;
}


th:nth-child(1), td:nth-child(1) { width: 60px; text-align: center; }
th:nth-child(2), td:nth-child(2) { width: 200px; }
th:nth-child(3), td:nth-child(3) { width: 250px; }
th:nth-child(4), td:nth-child(4) { width: 120px; }
th:nth-child(5), td:nth-child(5) { width: 180px; }
th:nth-child(6), td:nth-child(6) { width: auto; }