.job-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
}

.job-table--th > th{
background: var(--primary-dark);
    font-weight: 600;
    padding: 20px;
    box-shadow: 0 1px 3px var(--secondary-dark);

}

.job-table--th > th:hover {
opacity: 0.1;
}

.table tbody tr:nth-child(odd){
    background: var(--primary-light);
}
.table tbody tr:nth-child(even){
    background: var(--secondary-light);
}


