.job-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
}

.job-table--th > th{
background: #747bff;
    font-weight: 600;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);

}

.job-table--th > th:hover {
opacity: 0.1;
}

.table tbody tr:nth-child(odd){
    background: #fff;
}
.table tbody tr:nth-child(even){
    background: #F7F7F7;
}


